<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <a class="btn btn-success" href="#" th:href ="@{'/employees/add/'}" role="button">Add</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>EMP_NO</th>
                    <th>FIRST_NAME</th>
                    <th>LAST_NAME</th>
                    <th>ACTIONS</th>

                </tr>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td><a href="#" th:href ="@{'/employees/' + ${employee.id} }">Details</a></td>
                    <!--<td><a th:href ="${'/employees/'+employee.id +'/delete/'}">Delete</a></td>-->
                    <td><a class="btn btn-danger" href="#" th:href ="@{'/employees/' + ${employee.id} + '/delete/'}" role="button">Delete</a></td>
                    <!--<td><a th:href ="${'/employees/'+employee.id+'/add/'}">Add</a></td>-->
                    <td><a href="#" th:href ="@{'/employees/' + ${employee.id} + '/edit/'}">Edit</a></td>

                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>